.container {
  width: $container-width;
  max-width: $container-max-width;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding: $section-padding 0;
  margin-bottom: 2rem;
  
  h2 {
    font-size: $font-size-xxxl;
    margin-bottom: 20px;
    color: $primary-color;
  }
}

.grid-container {
  padding: $section-padding 0;
}

.grid-item {
  display: grid;
  gap: 1rem;
  
  h2 {
    color: $primary-color;
  }
}

.grid-cards {
  @include responsive-grid(300px);
}